@model string

<div class="ml-auto">
    <ul class="nav-menu">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="menu-active">
                <a href="/">@Model</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        }
        else
        {
            <li>
                <a href="/login">Login</a>
            </li>
        }
    </ul>
</div>
