@model IEnumerable<CategoryRespone>

@{
    ViewData["Title"] = "Home Page";
}

<main id="main">
    <!-- ======= Intro Section ======= -->
    <section id="intro">
        <div class="intro-content">
            <h2>Making <span>your life</span><br>Healthy!</h2>
            <div>
                <a href="~/#about" class="btn-get-started scrollto">Get Started</a>
                <a href="~/#portfolio" class="btn-projects scrollto">Our Projects</a>
            </div>
        </div>

        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('/assets/img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('/assets/img/intro-carousel/2.jpg');"></div>
            <div class="item" style="background-image: url('/assets/img/intro-carousel/3.jpg');"></div>
            <div class="item" style="background-image: url('/assets/img/intro-carousel/4.jpg');"></div>
            <div class="item" style="background-image: url('/assets/img/intro-carousel/5.jpg');"></div>
        </div>
    </section>
    <!-- End Intro Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 about-img">
                    <img src="~/assets/img/about-img.jpg" alt="">
                </div>

                <div class="col-lg-6 content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
                    <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</h3>

                    <ul>
                        <li>
                            <i class="ion-android-checkmark-circle"></i>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li>
                            <i class="ion-android-checkmark-circle"></i>
                            Duis aute irure dolor in reprehenderit involuptate velit.
                        </li>
                        <li>
                            <i class="ion-android-checkmark-circle"></i>
                            Ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta
                            storacalaperda mastiro dolore eu fugiat nulla pariatur.
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>Services</h2>
                <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet
                    veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute
                    nulla ipsum velit export irure minim illum fore</p>
            </div>

            <div class="row">
                @foreach (var category in Model)
                {
                    <div class="col-lg-6">
                        <div class="box wow fadeInRight">
                            <div class="icon"><i class="fa fa-picture-o"></i></div>
                            <h4 class="title">
                                <a href="~/product/?categoryId=@category.CategoryId">@category.Name</a>
                            </h4>
                            <p class="description">@category.Description</p>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Clients</h2>
                <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet
                    veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute
                    nulla ipsum velit export irure minim illum fore</p>
            </div>

            <div class="owl-carousel clients-carousel">
                <img src="~/assets/img/clients/client-1.png" alt="">
                <img src="~/assets/img/clients/client-2.png" alt="">
                <img src="~/assets/img/clients/client-3.png" alt="">
                <img src="~/assets/img/clients/client-4.png" alt="">
                <img src="~/assets/img/clients/client-5.png" alt="">
                <img src="~/assets/img/clients/client-6.png" alt="">
                <img src="~/assets/img/clients/client-7.png" alt="">
                <img src="~/assets/img/clients/client-8.png" alt="">
            </div>
        </div>
    </section><!-- End Clients Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Our Products</h2>
                <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet
                    veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute
                    nulla ipsum velit export irure minim illum fore</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        @foreach (var categories in Model)
                        {
                            <li data-filter=".@categories.CategoryId">@categories.Name</li>
                        }
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">
                @foreach (var category in Model)
                {
                    foreach (var product in category.Products)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item @category.CategoryId">
                            @await Component.InvokeAsync("Product", product)
                        </div>
                    }
                }
            </div>

        </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials">
        <div class="container">
            <div class="section-header">
                <h2>Testimonials</h2>
                <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet
                    veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute
                    nulla ipsum velit export irure minim illum fore</p>
            </div>
            <div class="owl-carousel testimonials-carousel">

                <div class="testimonial-item">
                    <p>
                        <img src="~/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                        Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <img src="~/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="~/assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="~/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum
                        eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim
                        culpa.
                        <img src="~/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="~/assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="~/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                        minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        <img src="~/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="~/assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="~/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                        velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                        veniam.
                        <img src="~/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="~/assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="~/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam
                        enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore
                        nisi cillum quid.
                        <img src="~/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="~/assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                </div>

            </div>

        </div>
    </section>
    <!-- End Testimonials Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Call To Action</h3>
                    <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Call To Action</a>
                </div>
            </div>

        </div>
    </section>
    <!-- End Call To Action Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Our Team</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/assets/img/team-1.jpg" alt=""></div>
                        <div class="details">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/assets/img/team-2.jpg" alt=""></div>
                        <div class="details">
                            <h4>Sarah Jhinson</h4>
                            <span>Product Manager</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/assets/img/team-3.jpg" alt=""></div>
                        <div class="details">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/assets/img/team-4.jpg" alt=""></div>
                        <div class="details">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Team Section -->
</main>
