@import './roboto.scss';
@import './breakpoint.scss';
@import './intro.scss';
@import './side-nav.scss';
@import './button.scss';
@import './input.scss';
@import './table.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #1C3FAA;
}
body {
    -webkit-font-smoothing: antialiased;
    @apply overflow-x-hidden py-3 px-8 font-roboto text-sm text-gray-800;
    @media (max-width: $sm) {
        @apply px-3;
    }
}

.app {
    background-repeat: no-repeat;
    background-attachment: fixed;
    @apply py-5;
}

.content {
    border-radius: 30px;
    padding: 0px 22px;
    @apply min-h-screen bg-theme-2 flex-1 pb-10;
    @media (max-width: $md) {
        @apply px-4 max-w-full;
    }
    &:before {
        content: "";
        @apply w-full h-px block;
    }
}

.zoom-in {
    @apply transition;
    @apply duration-300;
    @apply ease-in-out;
    @apply transform;
    @apply cursor-pointer;
    &:hover {
        @apply scale-105;
        @apply shadow-xl;
    }
}

.breadcrumb {
    @apply flex items-center;
    &.breadcrumb--light {
        @apply h-full ml-10 pl-10 border-l border-theme-24 text-theme-25;
        @media (max-width: $md) {
            @apply ml-0 pl-0 border-l-0;
        }
        .breadcrumb--active {
            @apply text-theme-26;
        }    
    }
    .breadcrumb__icon {
        width: 14px;
        height: 14px;
        @apply mx-1;
    }
    .breadcrumb--active {
        @apply text-theme-1 font-medium;
    }
}

.top-bar {
    height: 67px;
    z-index: 51;
    @apply flex items-center relative border-b border-theme-5;
}

.dropdown .dropdown-box {
    transition: visibility 0s linear 0.2s, opacity 0.2s 0s;
    @apply invisible opacity-0;
    &.show {
        transition: visibility 0s linear 0s, opacity 0.2s 0s;
        @apply visible opacity-100;
        > .dropdown-box__content {
            margin-top: -1px;
            .tab-content .tab-content__pane {
                @apply visible;
            }
        }
    }
    .dropdown-box__content {
        transition: margin-top 0.2s;
        @apply mt-5;
        .tab-content .tab-content__pane {
            @apply invisible;
        }
    }
}

.report-box {
    @apply relative;
    &:before {
        content: "";
        width: 85%;
        background: #F9FAFC;
        box-shadow: 0px 3px 20px #0000000b;
        @apply h-full mt-3 absolute rounded-md mx-auto inset-x-0;
    }
    .report-box__icon {
        width: 28px;
        height: 28px;
    }
    .report-box__indicator {
        padding-top: 3px;
        padding-bottom: 3px;
        @apply flex rounded-full text-white text-xs pl-2 pr-1 items-center font-medium;
    }
}

.box {
    box-shadow: 0px 3px 20px #0000000b;
    @apply bg-white rounded-md relative;
}

.report-chart {
    @apply relative;
    &:before {
        content: "";
        height: 93%;
        background: linear-gradient(to right, white, #ffffffde, transparent);
        @apply w-12 left-0 top-0 ml-10 absolute;
        @media (max-width: $sm) {
            height: 85%;
        }
    }
    &:after {
        content: "";
        height: 93%;
        background: linear-gradient(to right, transparent, #ffffffde, white);
        @apply w-12 right-0 top-0 absolute mr-2;
        @media (max-width: $sm) {
            height: 85%;
        }
    }
}